[submodule "setae-api/setae-api"]
	path = setae-api/setae-api
	url = https://github.com/Five-Colleges-Incorporated/setae-api.git
	branch = alphanumeric-barcode
[submodule "folio-user-import/folio_data_import"]
	path = folio-user-import/folio_data_import
	url = https://github.com/Five-Colleges-Incorporated/folio_data_import.git
	branch = release-v0.4.2
[submodule "folio-auto-renew/folio-auto-renew"]
	path = folio-auto-renew/folio-auto-renew
	url = https://github.com/Five-Colleges-Incorporated/folio-auto-renew.git
	branch = main
[submodule "Patron-Transform/Patron-Transform"]
	path = Patron-Transform/Patron-Transform
	url = https://github.com/ameliasutton/Patron-Transform.git
	branch = master
