FOLIO_URL=
FOLIO_TENANT=
FOLIO_USERNAME=
FOLIO_PASSWORD=
LIBRARY_NAME=
LIBRARY_CODE=
SPACES_REGION=
SPACES_ENDPOINT=
USERS_KEY=
USERS_SECRET=
USERS_BUCKET=
USERS_PREFIX=
LOGS_KEY=
LOGS_SECRET=
LOGS_BUCKET=
